body{
    background-color: #dedede;
    padding: 10px;
}
.wrap{
    margin-top: 50px;
    width: 700px;
    height:520px;
    overflow:auto;
    list-style: none;
}
.main{
    display: none;
}
.pic-list li{
    display: inline-block;
    background-color: #fff;
    padding: 10px;
}
.pagination{
    margin:0 0 0 10px;
}
.pagination > li{
    display: inline-block;
}
ul li img{
    display: block;
}
.loading{
    display: none;
    width:128px;
    margin:200px auto 0;
}
.facebook_blockG{
    background-color:#FFFFFF;
    border:3px solid #A220D6;
    float:left;
    height:91px;
    margin-left:7px;
    width:24px;
    opacity:0.1;
    -moz-animation-name:bounceG;
    -moz-animation-duration:0.8s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-direction:linear;
    -moz-transform:scale(0.7);
    -webkit-animation-name:bounceG;
    -webkit-animation-duration:0.8s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:linear;
    -webkit-transform:scale(0.7);
    -ms-animation-name:bounceG;
    -ms-animation-duration:0.8s;
    -ms-animation-iteration-count:infinite;
    -ms-animation-direction:linear;
    -ms-transform:scale(0.7);
    -o-animation-name:bounceG;
    -o-animation-duration:0.8s;
    -o-animation-iteration-count:infinite;
    -o-animation-direction:linear;
    -o-transform:scale(0.7);
    animation-name:bounceG;
    animation-duration:0.8s;
    animation-iteration-count:infinite;
    animation-direction:linear;
    transform:scale(0.7);
}

#blockG_1{
    -moz-animation-delay:0.24000000000000005s;
    -webkit-animation-delay:0.24000000000000005s;
    -ms-animation-delay:0.24000000000000005s;
    -o-animation-delay:0.24000000000000005s;
    animation-delay:0.24000000000000005s;
}

#blockG_2{
    -moz-animation-delay:0.32s;
    -webkit-animation-delay:0.32s;
    -ms-animation-delay:0.32s;
    -o-animation-delay:0.32s;
    animation-delay:0.32s;
}

#blockG_3{
    -moz-animation-delay:0.4s;
    -webkit-animation-delay:0.4s;
    -ms-animation-delay:0.4s;
    -o-animation-delay:0.4s;
    animation-delay:0.4s;
}

@-moz-keyframes bounceG{
0%{
-moz-transform:scale(1.2);
opacity:1}

100%{
-moz-transform:scale(0.7);
opacity:0.1}

}

@-webkit-keyframes bounceG{
0%{
-webkit-transform:scale(1.2);
opacity:1}

100%{
-webkit-transform:scale(0.7);
opacity:0.1}

}

@-ms-keyframes bounceG{
0%{
-ms-transform:scale(1.2);
opacity:1}

100%{
-ms-transform:scale(0.7);
opacity:0.1}

}

@-o-keyframes bounceG{
0%{
-o-transform:scale(1.2);
opacity:1}

100%{
-o-transform:scale(0.7);
opacity:0.1}

}

@keyframes bounceG{
0%{
transform:scale(1.2);
opacity:1}

100%{
transform:scale(0.7);
opacity:0.1}

}